

.quiz h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin: 20px 0;
  color: #333;
}

.question {
  margin-bottom: 50px;
  

}

.question p {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  
  
}

.question ul {
  list-style: none;
  padding: 0; 
  
 
}

.question button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 12px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 11px;
  
  cursor: pointer;
  transition: background 0.2s;
}

.question button:hover {
  background: #333;
}

.score {
  margin-top: 15px;
  margin-bottom: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.quiz-completed {
  text-align: center;
  margin-top: 50px;
  color: #333;


}

.quiz-completed h2 {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.quiz-completed button {
  margin: 10px;
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  
}
.quiz-completed button:hover {
  background: #333;
  color: white;
}



